.cardItem {
    display: flex;
    background: #FFFFFF;
    min-height: 213px;
    justify-items: center;
    align-items: center;
    margin: 30px 50px 30px 50px;
    padding: 0px 0px 0px 30px;
    border-radius: 5px;
}

.cardPhoto>img {
    width: 293px;
    height: 160px;
    object-fit: contain;
}

.cardDetails {
    margin-left: 40px;
    line-height: 32px;
}

.cardDetails>h1 {
    font-size: 30px;
    color: #1a0e49;
}

.cardDetails h2 {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8d8c8c;
}

.cardDetails h3 {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8d8c8c;
}

@media screen and (max-width: 600px) {
    .cardItem{
        min-width: 80vw;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 10px 0 0 0;
    }
}