.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ebe9d7;
    overflow-y: hidden;
}

.logoImg {
    width: 295px;
    height: 72px;
}

.titulo {
    width: 176px;
    height: 64px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    size: 24px;
    color: #383743;
    margin: 67px 0 0 0;
}

.subtitulo {
    width: 357.7px;
    height: 52px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: -0.25px;
    text-align: center;
    color: #383743;
    margin: 21px 0 21px 0;
}

.Login>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputIcon {
    font-size: 18px;
    letter-spacing: -0.25px;
    text-align: left;
    margin: 10px;
    display: flex;
    align-items: center;
    height: 48px;
    position: relative;
}

.inputIcon>input{
    font-family: 'Roboto-Regular', sans-serif;
    height: 48px;
    width: 350px;
    max-width: 80vw;
    border-bottom: solid 0.7px;
    border-color: #383743;
    padding-left: 30px;    
    background-color:#ee4c77;
    color:#383743;
}

.inputIcon>input:-webkit-input-placeholder {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    width: 49px;
    height: 24px;
    opacity: 0.5;
    font-size: 18px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #383743;
    background-color: rgba(0, 0, 0, 0);
}

.inputIcon>input:-moz-placeholder {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    width: 49px;
    height: 24px;
    opacity: 0.5;
    font-size: 18px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #383743;
    background-color: rgba(0, 0, 0, 0);
}

.inputIcon>Input:focus {
    border: 0 0 2px 0;
    border-color: #ee4c77;
    outline: 0;
}

.inputIcon>i {
    object-fit: contain;
    position: absolute;
}

.button-large {
    justify-items: center;
    width: 324px;
    height: 52.8px;
    border-radius: 3.6px;
    background-color: #57bbbc;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 50px 0 0 0;
}
