@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  border:0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #ebe9d7;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}