.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 151px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(173deg, #ee4c77, #0d0430);
}

.logoHeader {
    width: 234.2px;
    height: 57px;
    object-fit: contain;
}

.pesquisa.inputIcon>input {
    height: 51px;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: solid 0.7px;
    border-color: #FFFFFF;
    padding-left: 60px;
    font-size: 40px;
}

.pesquisa.inputIcon>input:focus {
    border-bottom: solid 0.7px;
    border-color: #FFFFFF;
    outline: 0;
    background-image: none;
}

.pesquisa.inputIcon>input::-webkit-input-placeholder {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 40px;
    width: 49px;
    opacity: 0.5;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #991237;
}

.pesquisa.inputIcon>input:-moz-placeholder {
    font-size: 40px;
    width: 49px;
    opacity: 0.5;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #991237;
}

.textoCentral {
    display: flex;
    min-height: 80%;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: -0.45px;
    text-align: center;
    color: #383743;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}